<select>
    <option selected> - formatting -</option>
    <option value="h1">Title 1 &lt;h1&gt; </option>
    <option value="h2">Title 2 &lt;h2&gt;</option>
    <option value="h3">Title 3 &lt;h3&gt;</option>
    <option value="h4">Title 4 &lt;h4&gt;</option>
    <option value="h5">Title 5 &lt;h5&gt;</option>
    <option value="h6">Subtitle &lt;h6&gt;</option>
    <option value="p">Paragraph &lt;p&gt;</option>
    <option value="pre">Preformatted &lt;pre&gt;</option>
</select>