<div id="toolBar2">
    <img title="Clean" src="~/Content/Icons/clean.gif" />
    <img title="Print" src="~/Content/Icons/print.png" />
    <img title="Undo" src="~/Content/Icons/undo.gif" />
    <img title="Redo" src="~/Content/Icons/redo.gif" />
    <img title="Remove formatting" src="~/Content/Icons/format.png" />
    <img title="Bold" src="~/Content/Icons/bold.gif" />
    <img title="Italic" src="~/Content/Icons/italic.gif" />
    <img title="Underline" src="~/Content/Icons/underline.gif" />
    <img title="Left align" src="~/Content/Icons/justifyleft.gif" />
    <img title="Center align" src="~/Content/Icons/justifycenter.gif" />
    <img title="Right align" src="~/Content/Icons/justifyright.gif" />
    <img title="Numbered list" src="~/Content/Icons/numberedlist.gif" />
    <img title="Dotted list" src="~/Content/Icons/dottedlist.gif" />
    <img title="Quote" src="~/Content/Icons/quote.gif" />
    <img title="Delete indentation" src="~/Content/Icons/outdent.gif"/>
    <img title="Add indentation" src="~/Content/Icons/indent.gif" />
    <img title="Hyperlink" src="~/Content/Icons/hyperlink.gif" />
    <img title="Cut" src="~/Content/Icons/cut.gif"/>
    <img title="Copy" src="~/Content/Icons/copy.gif" />
    <img title="Paste" src="~/Content/Icons/paste.gif" />
</div>